MYSQL_DATABASE=curriculum_iu
MYSQL_USER=curriculum_app

MYSQL_ROOT_PASSWORD=CHANGE_ME_ROOT_PASSWORD
MYSQL_PASSWORD=CHANGE_ME_DATABASE_PASSWORD

JWT_SECRET=CHANGE_ME_TO_A_LONG_RANDOM_SECRET_AT_LEAST_64_CHARACTERS

APP_PORT=8088
PUBLIC_BASE_URL=http://SERVER_IP:8088

APP_CORS_ALLOWED_ORIGINS=http://SERVER_IP:8088

REFRESH_COOKIE_SECURE=false
REQUIRE_HTTPS=false

GOOGLE_CLIENT_ID=616943284378-gh0o9j792jskikrc7qh6tgrg7j48p8lm.apps.googleusercontent.com
GOOGLE_ALLOWED_DOMAIN=

MAIL_ENABLED=false

ALLOW_COHORT_RESET=false
